*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{
    background: #f0f0f0;
}
.wrapper{
    position: relative;
}
.container{
    max-width: 1060px;
    margin: auto;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
    background: midnightblue;
    padding: 10px;
}
.header .nav-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-img{
    width: 90px;
    height: 36px;
    margin-right: 8px;
}
.header .nav-flex .dropdown{
    display: inline-block;
}
.header .nav-flex .dropdown .btn-dropdown{
    /* border: 1px solid #666;
    border-radius: 3px; */
    color: #fff;
    font-weight: 700;
    line-height: 28px;
    padding: 0 10px;
    box-shadow: none;
    outline: 0px;
}
.header .nav-flex .dropdown .dropdown-menu{
    background: midnightblue;
    border: 1px solid #666;
    padding: 0px;
    width: 250px;
    inset: 141% -75px auto auto !important;
    transform: translate(0px, 0px) !important;
}
.header .nav-flex .dropdown .dropdown-menu a{
    color: #666;
    padding: 10px;
}
.header .nav-flex .dropdown .dropdown-menu a:hover {
    /* color: #00bff3; */
    color: #f5f5f5;
    background-color: transparent;
    border: 0px;
}
.header .form-group{
    background: #fff;
    border: 1px solid #0000;
    border-radius: 24px;
    padding: 0px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header .form-group .btn,
.header .form-group input{
    border: 0px;
    box-shadow: none;
    outline: 0px;
    background-color: transparent;
    padding: 0px;
}
.header .form-group input{
    width: 320px;
}
.header .form-group .btn #panel-search-icon:hover path,
.header .form-group .btn #panel-search-icon:hover circle{
    stroke: midnightblue;
}
.dropdown-menu .dropdown-icon{
    float: left;
    margin-right: 8px;
}
.dropdown-menu a .make-icon {
    float: left;
    width: 30px;
    height: 30px;
}
.dropdown-menu .dropdown-icon .make-icon-meme {
    background: #999;
    fill: #666;
}
.dropdown-menu a:hover .make-icon-meme, .make-icon-meme.on {
    background: #ff0;
    fill: #f80;
}
.dropdown-menu a .make-icon-gif rect {
    fill: #666;
    stroke-width: 3;
    stroke: #999;
}
.dropdown-menu a .make-icon-gif path {
    fill: #999;
}
.dropdown-menu a:hover .make-icon-gif rect {
    fill: #f80;
    stroke: #fff;
}
.dropdown-menu a:hover .make-icon-gif path {
    fill: #fff;
}
.dropdown-menu a:hover .make-icon-pie{
    background: #f80;
}
.dropdown-menu a:hover .make-icon-pie circle{
    stroke: #33f;
}
.dropdown-menu a .make-icon-pie {
    border-radius: 50%;
    background: #999;
}
.dropdown-menu a .make-icon-pie circle {
    fill: none;
    stroke: #666;
    stroke-width: 50;
    stroke-dasharray: 15,145;
}
.dropdown-menu a .make-icon-demo {
    background: #666;
    position: relative;
}
.dropdown-menu a .make-icon-demo .make-icon-demo-inner {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 22px;
    height: 15px;
    background: #999;
}
.dropdown-menu a:hover .make-icon-demo  .make-icon-demo-inner {
    background: #f80;
}

.header .nav-flex .dropdown.login-dropdown .dropdown-menu{
    inset: 141% 0px auto auto !important;
    width: fit-content;
}
.header .nav-flex .dropdown.login-dropdown .dropdown-menu a{
    color: #fff;
    padding: 5px 10px;
}
.header .nav-flex .dropdown.login-dropdown .dropdown-menu a:hover{
    background: #fff;
    color: midnightblue;
}
.header .nav-flex .icon-menu{
    color: transparent;
}
.header .nav-flex .icon-menu .rand-arrows .line{
    fill: none;
    stroke: #aaa;
    stroke-width: 8;
    stroke-linejoin: round;
}
.header .nav-flex .icon-menu .rand-arrows .arrow {
    fill: #aaa;
    stroke: none;
}
.header .nav-flex .icon-menu .s-icon circle {
    stroke-width: 6;
    stroke: #aaa;
    fill: transparent;
}
.header .nav-flex .icon-menu .s-icon path {
    stroke-width: 6;
    stroke: #aaa;
    stroke-linecap: round;
}
.header .nav-flex .icon-menu .rand-arrows:hover .line {
    stroke: #fff;
}
.header .nav-flex .icon-menu .rand-arrows:hover .arrow{
fill: #fff;
}

.main-content{
    margin-top: 57px;
    padding: 0px 5px;
}
.main-content .page-content {
    padding: 50px 0px;
}
.main-content .page-content .heading{
    padding: 0px 5px 5px;
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    color: midnightblue;
}
.main-content .page-content .text{
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin: 18px auto 22px;
    max-width: 750px;
    line-height: 1.2;
    color: #444;
}
.main-content .page-content .text a{
    color: #33f;
    text-decoration: none;
}
.main-content .page-content .text a:hover{
    text-decoration: underline;
}
.main-content .page-content .search-template{
    display: flex;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
.main-content .page-content .search-template input{
    min-width: 300px;
    max-width: 100%;
    border: 1px solid #ccc;
    background: #fff;
    color: #000;
    height: 32px;
    line-height: 22px;
    padding: 4px 8px;
    outline: 0;
}
.main-content .page-content .search-template input:focus{
    border: 1px solid #33f;
}
.detail-content-flex .buttons .btn-detail,
.main-content .templates-items .template-item .btn-caption,
.main-content .page-content .search-template .btn-search{
    color: midnightblue;
    font-weight: 700;
    border: 1px solid midnightblue;
    height: 32px;
    padding-top: 0px;
    padding-bottom: 0px;
    vertical-align: middle;
    background: #fff;
    min-width: 120px;
    max-width: 100%;
    margin-left: 10px;
    margin-top: -7px;
}
.detail-content-flex .buttons .btn-detail:hover,
.main-content .templates-items .template-item .btn-caption:hover,
.main-content .page-content .search-template .btn-search:hover{
    border: 1px solid #fff;
    background: midnightblue;
    color: #fff;
    /* box-shadow: -1px 1px 1px rgba(25,25,112,.2); */
}


.main-content .templates-section .filters-flex{
    margin-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
    position: relative;
}
.main-content .templates-section .filters-flex .tab-anchers{
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 10px;;
}
.main-content .templates-section .filters-flex .btn-tab{
    display: inline-block;
    height: 35px;
    line-height: 34px;
    font-weight: 700;
    padding: 0 15px;
    color: #333;
    background: #e1e1e1;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: none;
    outline: 0px;
}
.main-content .templates-section .filters-flex .btn-tab:hover,
.main-content .templates-section .filters-flex .btn-tab.active{
    background: #fff;
    color: midnightblue;
    border-color: midnightblue;
    margin-bottom: -1px;
    height: 36px;
}

.sort-div{
    position: absolute;
    right: 0px;
    top: 5px;
}
.sort-div .btn-sort {
    background: #fff;
    color: #333;
    border-radius: 3px;
    border: 1px solid #ccc;
    height: 30px;
    line-height: 28px;
    padding: 0 24px 0 10px;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.sort-div .btn-sort:after {
    position: absolute;
    content: ' ';
    width: 0;
    height: 0;
    top: 50%;
    margin-top: -2px;
    right: 9px;
    border: solid transparent;
    border-width: 6px 5px;
    border-top-color: #333;
}
.sort-div .sort-dropdown {
    position: absolute;
    top: 100%;
    margin-top: 2px;
    left: auto; 
    right: 0px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 5px 0;
    box-shadow: 0 0 3px #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.sort-div .sort-dropdown .sort-dropdown-label {
    padding: 3px 10px;
    color: #aaa;
    font-size: 12px;
    line-height: normal;
}
.sort-div .sort-dropdown .sort-dropdown-link {
    display: flex;
    gap: 5px;
    height: 30px;
    padding: 0 10px;
    white-space: nowrap;
    color: #555;
    text-decoration: none;
}
.sort-div .sort-dropdown .sort-dropdown-link.active {
    font-weight: 700;
}
.sort-div .sort-dropdown small {
    font-size: .7em;
    line-height: 2.5;
}

.main-content .templates-items {
    /* background: #fff;
    border: 1px solid #ccc; */
    margin-bottom: 50px;
}
.main-content .templates-items .templates-div{
    display: flex;
    justify-content: space-between;
    gap: 2%;
    align-items: center;
    flex-wrap: wrap;
}
.main-content .templates-items .template-item {
    display: inline-block;
    width: 32%;
    max-width: 180px;
    background-color: #fff;
    padding: 10px 5px 12px;
    margin-bottom: 25px;
    overflow: hidden;
}
.main-content .templates-items .template-item:hover {
    box-shadow: 0px 5px 5px 5px rgba(25,25,112, .4);
}
.main-content .templates-items .template-item:hover .title a{
    color: midnightblue;
}
.main-content .templates-items .template-item .title a{
    font-size: 14px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
    color: #333;
    height: 42px;
    display: inline-block;
    margin-bottom: 8px;
    width: 100%;
    text-decoration: none;
}
.main-content .templates-items .template-item .title a:hover{
    color: midnightblue;
}
.main-content .templates-items .template-item .img{
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 12px;
}
.main-content .templates-items .template-item .template-img{
    width: 100%;
    max-width: 150px;
    max-height: 150px;
    box-shadow: 0 0 3px #ccc;
    margin-bottom: 10px;
}
.main-content .templates-items .template-item .button{
    height: 26px;
}
.main-content .templates-items .template-item .btn-caption{
    width: 150px;
    line-height: 1.7;
    transition: 0.5s all;
    margin-bottom: -100px;
}
.main-content .templates-items .template-item:hover .btn-caption{
    margin-bottom: 0px;
}

.main-content .templates-items .templates-pagination {
    text-align: center;
    padding: 10px;
}
.main-content .templates-items .templates-pagination a{
    color: #333;
    border: 1px solid #ccc;
    background: #fff;
    width: 80px;
    font-weight: 600;
    height: 32px;
    padding: 0px;
    line-height: 1.7;
    margin-right: 10px;
    opacity: 0.5;
    box-shadow: none;
    outline: 0px;
}
.main-content .templates-items .templates-pagination a.active{
    opacity: 1;
}
.main-content .templates-items .templates-pagination a.active:hover{
    border: 1px solid midnightblue;
    color: midnightblue;
}
.main-content .templates-items .templates-pagination a:last-child{
    margin-right: 0px;        
}

.footer-section{
    min-height: 300px;
    color: #999;
    background: #222;
    padding: 40px 0;
    line-height: 32px;
    margin: 50px 0 0;
    border-top: 1px solid #555;
    font-size: 13px;
    
}
.footer-section .footer-links{
    padding: 0px 10px;
    margin-bottom: 20px;
}
.footer-section .footer-links a{
    color: #999;
    margin: 0 8px;
    white-space: nowrap;
    display: block;
}
/* .footer-section .social-links{
    width: 33%;
} */
.footer-section .social-links a{
    margin: 0 8px;
    opacity: .6;
    white-space: nowrap;
}
.footer-section .social-links a.facebook-link{
    color: #4c66a4;
    margin-left: 0px;
}
.footer-section .social-links a.twitter-link{
    color: #55acee;
}
.footer-section .social-links a.android-link{
    color: #689f38;
}
.footer-section .social-links a.chrome-link{
    color: #ffcd46;
}
.footer-section .footer-text{
    line-height: 20px;
    padding: 20px 0 10px;
    color: #999;
    /* line-height: 1; */
}
.footer-section .footer-text a{
    color: #666;
}

.footer-section a{
    text-decoration: none;
}

.footer-section a:hover{
    text-decoration: underline;
}

.feedback {
    position: fixed;
    left: -30px;
    top: 120px;
    border: 1px solid #ccc;
    border-bottom: none;
    background-color: #fff;
    border-radius: 3px 3px 0 0;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    padding: 5px 10px;
    color: #333;
    cursor: pointer;
}
.feedback.footer-feddback{
    position: absolute;
    bottom: 120px;
    top: auto;
    background: #333;
    border-color: #666;
    color: #ccc;
}

.detail-page-section{
    padding: 40px 0px;
}
.detail-content-flex{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 20px;
    background-color: #fff;
    height: 100%;
}
.detail-content-flex .title{
    font-size: 22px;
    font-weight: 600;
}
.detail-content-flex .text{
    margin: 10px 0 0;
    font-size: 13px;
    font-weight: 300;
    color: #444;
    word-wrap: break-word;
    font-weight: 500;
}
.detail-content-flex .buttons{
    margin: 20px 0px;
}
.detail-content-flex .buttons .btn-detail{
    height: auto;
    padding: 5px 10px;
}
.detail-content-flex .buttons .btn-detail:first-child{
    padding: 0 10px 0 0;
}
.detail-content-flex .buttons .btn-detail svg{
    width: 30px;
    height: 30px;
    margin: 3px 8px 3px 3px
}
.detail-content-flex .detail{
    font-size: 15px;
    color: #000;
    font-weight: 400;
}
.detail-content-flex .detail p{
    margin-bottom: 8px;
}
.bottom-content {
    margin-top: 20px;
}
.bottom-content .title1{
    font-size: 18px;
    font-weight: 600;
    margin: 8px 0;
}
.bottom-content .img,
.bottom-content .img img{
    height: 100%;
}
.bottom-content a{
    color: #33f;
    text-decoration: none;
}
.bottom-content a:hover{
    text-decoration: underline;
}
.mb-logo{
    display: none;
}

.fadeIn {
    opacity: 0;
}
.mb-show{
    display: none;
}

@media screen and (max-width:767px) {
    .container{
        padding: 0px;
    }
    .mb-show{
        display: inline-block;
    }
    .dropdown-toggle::after,
    .logo-img,
    .mb-none{
        display: none;
    }
    .footer-section .logo-img{
        display: block;
    }
    .footer-section .social-links {
        margin-bottom: 10px;
    }
    .mb-logo{
        display: inline-block;
        width: 30px;
        height: 30px;
        margin: 8px 8px 8px 0px;
    }
    .header{
        padding: 0px 10px;
    }
    .feedback{
        position: absolute;
        bottom: 120px;
        top: auto;
        background: #333;
        border-color: #666;
        color: #ccc;
    }
    .main-content .page-content {
        text-align: center;
        padding: 20px 0px;
    }
    .main-content .page-content .heading{
        padding-top: 0px;
        padding-bottom: 14px;
    }
    .main-content .page-content .text{
        margin: 0px 10px;
        font-size: 11px;
        font-weight: 500;
    }
    .main-content .page-content .search-template{
        display: block;
    }
    .main-content .page-content .search-template form{
        display: flex;
        justify-content: space-between;
    }
    .main-content .page-content .search-template input{
        min-width: unset;
        max-width: none;
        flex: 1;
    }
    .main-content .page-content .search-template .btn-search{
        margin-top: 0px;
    }
    .main-content .templates-section .filters-flex{
        margin-top: 0px;
        margin-bottom: 5px;
        /* height: 55px;
        align-items: flex-start; */
    }
    .main-content .templates-section .filters-flex .tab-anchers{
        justify-content: flex-start;
    }
    .main-content .templates-section .filters-flex .sort-div{
        top: 0px;
        /* bottom: -13px; */
    }
    .main-content .templates-section .filters-flex .btn-tab{
        /* font-size: 13px;
        padding: 0px 8px; */
        font-size: 13px;
        padding: 0px 5px;
        height: 30px !important;
        line-height: 2.2;
    }
    .main-content .templates-section .filters-flex .sort-div .btn-sort{
        font-size: 12px;
    }
    .main-content .templates-items .template-item{
        width: 170px;
    }
    .main-content .templates-items .template-item .btn-caption{
        margin-bottom: 0px;
    }


    .detail-content-flex{
        margin-top: 20px;
    }
    .detail-content-flex .buttons {
        margin: 10px 0px;
        display: flex;
        gap: 10px;
    }
    .detail-content-flex .buttons .btn-detail{
        padding: 5px;
        font-size: 12px;
        line-height: 2.2;
        margin: 0px;
    }
    .mb-search-top{
        position: absolute;
        left: 0px;
        background: #fff;
        width: 100%;
        top: -100%;
        transition: 0.5s all;
    }
    .header.search-show .mb-search-top{
        top: 100%;
    }
    .header.search-show .mb-show .s-icon path,
    .header.search-show .mb-show .s-icon circle{
        stroke: #fff;        
    }
}
